* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 100%;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.header,
.footer {
    width: 100%;
    background-color: black;
    color: white;
    clear: both;
}

.header {
    height: 150px;
    position: relative;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.header ul {
    list-style-type: disc;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.header li {
    float: left;
}

.header a {
    display: block;
    width: 100px;
}

.footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.container {
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

.main {
    float: left;
    margin-right: 466px;
}

.sidebar {
    float: left;
    background-color: #fff;
    border-style: outset;
    width: 400px;
    padding: 20px;
    margin: 20px 20px 20px -466px;
    line-height: 2em;
}

.article {
    background-color: #fff;
    border-style: outset;
    padding: 20px;
    margin: 20px;
}

.main table,
.main th,
.main td {
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: black;
    color: white;
}

tr.lastLine {
    background-color: #ccc;
}

ol {
    margin: 1em 4em;
}

.image {
    width: 150px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    float: left;
}

.submit_btn input {
    background-color: #36f;
    color: white;
    height: 3em;
    width: 100%;
    border-radius: 10px;
}

.sidebar tr>td:first-child {
    text-align: right;
}
