/*雙飛翼*/

img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.main,
.team,
.logo {
    float: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
}

.container {
    padding: 20px;
    background-color: #eee;
    border-style: solid;
    border-color: #999;
    border-width: thin;
    position: relative;
    overflow: hidden;
    padding-left: 240px;
    padding-right: 160px;
}

.main{
    width: 100%;
}

.team{
    width: 200px;
    margin-left: -100%;
    position: relative;
    right:220px;
}

.logo{
    width: 120px;
    margin-left: -120px;
    position: relative;
    left: 140px;
}

div.team>img {
    height: 80px;
    widows: 80px;
    float: left;
}

div.team>span {
    float: left;
}
